SECRET_KEY=cok_gizli_bir_anahtar_buraya_yaz
DATABASE_URL=postgresql://kullanici:sifre@host:5432/dbadi
GOOGLE_CLIENT_ID=google_console_dan_al.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=google_console_dan_al
FRONTEND_URL=https://event-analysis.vercel.app
HF_SPACE_URL=https://KULLANICI_ADI-event-face-analysis.hf.space
FLASK_ENV=production
OAUTHLIB_INSECURE_TRANSPORT=0
